.nav {
    grid-area: n;
    background-color: darkblue;
    padding: 20px;
  }

  .item a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }

  .item a.active {
    color: gold;
  }